#navwrapper {
  border-top: 5px solid #e0cb15;
  position: sticky;
  top: 0;
}

.twentythree {
  background-color: #232323;
}

a.nav-link:hover,
.dropdown-item:hover {
  background-color: #e0cb15;
  color: #232323;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.main {
  min-height: calc(100vh - 327px);
}

.footer{
  height: 100px;
  padding: 10px;
}

.margin-top-15 {
  margin-top: 15px;
}

.accordion-button:not(.collapsed) {
  background-color: #e0cb15;
  color:#000;
}

.accordion-button {
  background-color: rgb(181, 188, 196);
  color: #000;
}

.info {
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 3px;
}
