#navwrapper {
  border-top: 5px solid #e0cb15;
  position: sticky;
  top: 0;
}

.twentythree {
  background-color: #232323;
}

a.nav-link:hover,
.dropdown-item:hover {
  background-color: #e0cb15;
  color: #232323;
}

.main {
  min-height: calc(100vh - 145px);
}

.footer{
  height: 100px;
  padding: 10px;
}
