* {
  font-family: "Noto Sans", sans-serif;
  font-feature-settings: 'pnum' on, 'lnum' on;
  text-decoration: none !important;
  font-size: 16px;
}

h1 {
  font: normal 400 46px/68px Oswald, sans-serif;
}

h2 {
  font: normal 400 16px/24px Oswald, sans-serif;
}

h3 {
  font: normal 400 23px/34px Oswald, sans-serif;
}

h4 {
  font: normal 400 17px/23px 'Noto Sans', sans-serif;
  margin: 0;
}

p {
  font: normal 400, 16px/22px 'Noto Sans', sans-serif;
  margin-bottom: 0;
  color: #444444;
  text-align: justify;
}

a:link,
a:visited,
.email {
  color: #5A8B9F;
}

a:hover,
a:active {
  color: #AEDAEC;
}

.fourfourfour {
  color: #444444;
}
.white {
  color: #FFF
}

.aaa {
  color: #aaa;
}

.link-footer, .link-footer:link, .link-footer:visited, .link-footer:hover, .link-footer:active {
  text-decoration: underline !important;
  color: #444444;
}

a.nav-link, a.dropdown-item {
  font: normal 400 16px/24px Oswald, sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
}

p.area-interesse {
   font-size: 15px;
}

a.nav-link:link,
a.nav-link:visited,
.email {
  color: #FFF;
}

a.nav-link:hover,
a.nav-link:active {
  color: #232323;
}
