<div id="page">
  <header>
    <div id="header" class="container">
      {{ page.header }}
      {{ page.menu}}
    </div>
  </header>
  
  <main>
    <div id="content" class="container">
      <div class="row">
        <section>
          {{ page.content }}
        </section>
      </div>
    </div>
  </main>
  
  <footer>
    <div id="footer">
        {{ page.footer}}
    </div>
  </footer>
<div>
 