<div id="page">
  <header>
    <div id="header" class="container">
      {{ page.header }}
      {{ page.menu}}
    </div>
  </header>
  
  <main>
    <div id="content" class="container">
        {{ page.content }}
      </div>
  </main>
  
  <footer>
    <div id="footer">
        {{ page.footer}}
    </div>
  </footer>
<div>
 